.anchor-pane {
    -fx-background-color: rgba(170, 154, 154, 0.6);
}

.button {
    -fx-background-color: rgb(154, 96, 96);
    -fx-border-color: rgba(255, 80, 80, 0.3);
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-text-fill: black;
}

.button:hover {
    -fx-background-color: #b55656;
}

.text-field {
    -fx-background-color: rgba(0, 0, 0, 0.2);
    -fx-text-fill: white;
    -fx-prompt-text-fill: #cccccc;
    -fx-background-radius: 20;
    -fx-border-color: rgba(255, 255, 255, 0.2);
    -fx-border-radius: 20;
    -fx-padding: 5 15 5 15;
}

.text-field:focused {
    -fx-background-color: rgba(0, 0, 0, 0.4);
    -fx-border-color: #b89e8b;
}
